<!-- header -->
<header class="flex items-center justify-between py-2 my-2 lg:my-4">
    <a href="/" class="px-2">
      <!-- <img src="" alt="logo" class="h-10 w-10" /> -->
      <p class="text-2xl lg:text-6xl tracking-tight leading-10 font-extrabold text-gray-800 sm:leading-none">{{ site.short }}</p>
    </a>
    <ul class="inline-flex items-center">
    {% for item in site.data.header %}
      <li class="px-2 md:px-4">
        <a href="{{ item.link }}"
        {% if page.url == item.link %} class="text-xl lg:text-2xl font-semibold hover:text-purple-500 text-purple-600 select-none" {% else %} class="text-xl lg:text-2xl font-semibold hover:text-purple-500 text-gray-500 select-none"{% endif %} > 
            {{ item.name }} </a>
      </li>
    {% endfor %}
    </ul>
  </header>
  <div class="border-b"></div>
  <!-- header ends here -->