<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="sotc">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="sotc, SOTC, social and open technology community, technology, science, open source, foss">
    <link rel="canonical" href="https://sotc.gitlab.io">
    <!-- <link rel="stylesheet" href="https://sotc.gitlab.io/assets/css/main.css"> -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>{{ page.title }}</title>
</head>
<body>
    <div class="max-w-screen-xl mx-auto">

        {{ content }}
        
    </div>
</body>
</html>


