---
layout: default
---

    {% include header.html %}
    <!--main-->
    <main class="mt-10">

      <div class="mb-4 md:mb-0 w-full max-w-screen-lg mx-auto relative" style="height: 24em;">
        <div class="absolute left-0 bottom-0 w-full h-full z-10"
          style="background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.7));"></div>
        <img src="{{ page.banner-url }}" class="absolute left-0 top-0 w-full h-full z-0 object-cover" />
        <div class="p-4 absolute bottom-0 left-0 z-20">
          <a href="#"
            class="px-4 py-1 bg-black text-gray-200 inline-flex items-center justify-center mb-2">{{ page.category }}</a>
          <h2 class="font-serif text-4xl lg:text-6xl font-semibold text-gray-100 leading-tight">
            {{ page.title }}
          </h2>
          <div class="flex mt-3 items-center gap-2">
            {% assign authordata = site.data.authors | where_exp: "item", "item.name == page.author" %}
            {% for authorinfo in authordata %}
            <img src="{{ authorinfo.author-img }}"
              class="h-12 w-12 rounded-full mr-2 object-cover" />
            <div>
              <p class="font-semibold text-gray-200 text-sm lg:text-lg"> {{ authorinfo.name }} </p>
              <p class="font-semibold text-gray-400 text-xs lg:text-base"> {{ page.date | date: "%b %d" }} </p>
            </div>
            {% endfor %}
          </div>
        </div>
     </div>

     <div class="px-4 mt-12 max-w-screen-lg mx-auto prose md:prose-2xl prose-indigo">
         {{ content }}
     </div>
    </main>
    <!-- main ends here -->
    {% include footer.html %}